body {
    margin-bottom: 60px;
    background-color: none;
}
.footer {
    background-color: #eee;
    bottom: 0;
    height: 60px;
    position: relative;
    width: 100%;
    background-image: linear-gradient(to bottom, #fff 0px, #f8f8f8 100%);
    background-repeat: repeat-x;
    box-sizing: border-box;
}
body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}
.footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}
code {
    font-size: 80%;
}
.input-sm {
    height: 35px;
}
.jumbotron {
    background-color: inherit;
}
.example {
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    margin: 0 5px 35px 5px;

}
.text-position {
    text-align: center;
}


::-webkit-input-placeholder {
   font-size: 25px;
}

:-moz-placeholder { /* Firefox 18- */
      font-size: 25px;
}

::-moz-placeholder {  /* Firefox 19+ */
      font-size: 25px;
}

/* Overriding styles */

::-webkit-input-placeholder {
   font-size: 20px!important;
}

:-moz-placeholder { /* Firefox 18- */
      font-size: 20px!important;
}
::-moz-placeholder {  /* Firefox 19+ */
      font-size: 20px!important;
}
