<!-- Header -->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/recommendation/">MovieAdvice</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'recommendation:person_list' %}">People</a></li>
                <li><a href="{% url 'recommendation:movie_list' %}">Movies</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About</a></li>
                <li>
                    <form id="searchform" class="navbar-form navbar-left" action="{% url 'recommendation:movie_list' %}" method="get" accept-charset="utf-8">
                        <div class="form-group">
                            <input class="form-control" id="searchbox" name="q" type="text" placeholder="Search" value="{{ request.GET.q }}">
                        </div>
                        <button type="submit" value="" class="btn btn-primary">
                            Search
                        </button>
                    </form>
                </li>
                <!--
                <li><a href="#">Log In</a></li>
                <li><a href="#">Register</a></li>
            -->
            </ul>
        </div>
    </div>
</nav>
