{% extends "recommendation/main.html" %} {% block title %} MovieAdvice Home {% endblock %} {% block body %}
<!-- Main jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Movies!</h1>
        <p class="lead">MovieAdvice is an application to help you choose a what to watch based on your favourite movies. We offer over 20000 movies to search from.
            <div class="row search">
                <div class="col-sm-8 col-sm-offset-2">

                    {% include "recommendation/search_form.html" %}

                </div>
            </div>
    </div>
</div>
{% endblock %}
