{% extends "recommendation/main.html" %}

{% block title %}
    MovieAdvice Home
{% endblock %}

{% block body %}
<!-- Main jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3"></h1>
        <p class="lead">MovieAdvice is an application to help you choose a movie
            to watch based on your favourite movies or you can try and get lucky.
            We offer over 20000 movies to search from.
        <div class="row search">
            <div class="col-sm-8 col-sm-offset-2">
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm"
                        placeholder="Try it out!">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                                Recommend!
                            </button>
                        </span>
                    </div>
                    <div class="input-group col-sm-2 col-sm-offset-5">
                        <button type="submit" class="btn btn-default">
                            Get lucky!
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-sm-12 text-position">
                <h3>Example of search request!</h3>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
