{% extends "recommendation/main.html" %}

{% block title %}
    MovieAdvice {{ movie.title }}
{% endblock %}

{% block body %}
<!-- Movie Detail Page -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">{{ movie.title }}</h1>
        <p><img src="https://image.tmdb.org/t/p/w640{{ movie.poster_path }}"
            alt="{{ movie.title }} Poster" class="img-responsive"
            style="max-width: 200px"></p>
        <p><strong>IMDB_id:</strong> <a href="http://www.imdb.com/title/{{ movie.imdb_id }}">
            {{ movie.title }}</a></p>
        <p><strong>Release date:</strong> {{ movie.release_date }}</p>
        <p><strong>Overview:</strong> {{ movie.overview }}</p>
        <p><strong>Genre:</strong>
            {% for genre in movie.genres.all %}
                <a href="http://127.0.0.1:8000/recommendation/movie/?genre={{genre.genre_id}}">
                    {{ genre.name }}
                </a>
            {% endfor %}
        </p>
        <p><strong>Keywords:</strong>
            {% for keyword in movie.keywords.all %}
                <a href="http://127.0.0.1:8000/recommendation/movie/?keyword={{keyword.keyword_id}}">
                    {{ keyword.name }}
                </a>
            {% endfor %}
        </p>
        {% if genre_query %}
            <p><strong>Recommendation(GENRE): </strong>
                {% for movie in genre_query %}
                    <a href="{% url 'recommendation:movie_detail' pk=movie.movie_id %}">
                        {{ movie.title }}
                    </a>
                {% endfor %}
            </p>
        {% endif %}
        {% if keyword_query %}
            <p><strong>Recommendation(KEYWORD): </strong>
                {% for movie in keyword_query %}
                    <a href="{% url 'recommendation:movie_detail' pk=movie.movie_id %}">
                        {{ movie.title }}
                    </a>
                {% endfor %}
            </p>
        {% endif %}
        <p><strong>Cast:</strong>
            {% for cast in movie.moviecast_set.all reversed %}
                <a href="{% url 'recommendation:person_detail' pk=cast.person_id %}">
                    {{ cast.person }}
                </a> - {{ cast.movie_character }}
            {% endfor %}
        </p>
        <p><strong>Crew:</strong>
            {% for crew in movie.moviecrew_set.all reversed  %}
                <a href="{% url 'recommendation:person_detail' pk=crew.person_id %}">
                    {{ crew.person }}
                </a> - {{ crew.job }}
            {% endfor %}
        </p>
    </div>
</div>
{% endblock %}
