{% extends "recommendation/main.html" %}

{% block title %}
    Movie list
{% endblock %}

{% block body %}
<!-- Movie List Page -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Movie list</h1>

        <!-- Form -->
        <div class="row">
            <h4>Choose genres</h4>
            <form class="" action="" method="" id="my-form">
                <p>
                {% for genre in genres %}
                    <label>
                        <input type="checkbox" name="genre"
                            {% if genre in filtered_genres %}
                            checked="checked"
                            {% endif %}
                        value="{{ genre.genre_id }}">
                        {{ genre }}
                    </label>
                {% endfor %}
                </p>

                <p>
                <button type="submit" value="genre_list" class="btn btn-default">
                    Search
                </button>
                </p>
            </form>
            <p>
            {% if years_list %}
                <select class="" name="year1">
                    <<option value="">~~~~</option>
                    {% for year in years_list reversed %}
                        <option value="{{ year.year }}">
                            {{ year.year }}
                        </option>
                    {% endfor %}
                </select>
            {% endif %}
            </p>
        </div>

        <div class="row">
        {% if movie_list %}
            <ul class="media-list">
            {% for movie in movie_list %}

                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" width="128" height="192"
                            src="https://image.tmdb.org/t/p/w640{{ movie.poster_path }}"
                            alt="{{ movie.title }} Poster">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">
                            <a href="{% url 'recommendation:movie_detail' pk=movie.movie_id %}">
                                {{ movie.title }}
                            </a>
                        </h3>
                        <h4><strong>Genre:</strong>
                            {% for genre in movie.genres.all %}
                                <i>{{ genre }}</i>
                            {% endfor %}
                        </h4>

                    </div>

                </li>
            {% endfor %}
            </ul>
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span> {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                            next
                        </a>
                            {% endif %}
                    </span>
                </div>
            {% endif%}

        {% else %}
            <div class="col-xs-12">
                There are no movies=(
            </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
