{% extends "recommendation/main.html" %}

{% block title %}
    Movie list
{% endblock %}

{% block body %}
<!-- Movie List Page -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Movie list</h1>

        <!-- Search Form -->
        <div class="row">
            {% include "recommendation/search_form.html" %}
        </div>

        <!-- Movie Filter -->
        {% include "recommendation/filter.html" %}


        <div class="row">
        {% if movie_list %}
            <ul class="media-list">
            {% for movie in movie_list %}

                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" width="128" height="192"
                            src="https://image.tmdb.org/t/p/w640{{ movie.poster_path }}"
                            alt="{{ movie.title }} Poster">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">
                            <a href="{% url 'recommendation:movie_detail' pk=movie.movie_id %}">
                                {{ movie.title }}
                            </a>
                        </h3>
                        <h4><strong>Genre:</strong>
                            {% for genre in movie.genres.all %}
                                <i>{{ genre }}</i>
                            {% endfor %}
                        </h4>

                    </div>

                </li>
            {% endfor %}
            </ul>

            <!-- Pagination -->
            {% include "recommendation/pagination.html" %}

        {% else %}
            <div class="col-xs-12">
                There are no movies=(
            </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
